@import url(http://fonts.googleapis.com/css?family=Satisfy|Open+Sans:400,300,700);

a:link {
    color: #0d4415
}

.logo {
    width: 85px;
}

header h1 {
    color: #c9c983;
    font-family: Satisfy, cursive;
    margin-top: 20px;
}

.nav-pills a {
    color: #0d4415;
    border: #0d4415 solid 1px;
}
.nav-pills > li.active > a {
    color: #0d4415;
    background-color: #9fbb9f;
}

/* Jumbotron Section */
.jumbotron {
    background-image: url(../img/Banner\ 2.jpg);
    background-size: cover;
    background-position: center;
    height: 250px;
}

.jobotron2 h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight:300;
    color: #fff;
}

footer{
    background-color: #9fbb9f;
}

.rights {
    background-color: #fff;
}