@import url(http://fonts.googleapis.com/css?family=Satisfy|Open+Sans:400,300,700);
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Pacifico&display=swap');

a:link {
    color: #0d4415
}

.logo {
    width: 85px;
}

#blogEntry h2 {
    color: #c9c983;
    font-family: 'Pacifico', cursive;
    font-size: 3em;
    text-shadow: 3px 3px 5px #0a0a0a;
    padding-bottom: 20px
}

header h1 {
    color: #c9c983;
    font-family: 'Pacifico', cursive;
    text-shadow: 3px 3px 5px #0a0a0a;
    margin-top: 20px;
}

.nav-pills a {
    color: #0d4415;
    border: #0d4415 solid 1px;
}
.nav-pills > li.active > a {
    color: #0d4415;
    background-color: #9fbb9f;
}

#navButtons {
    font-family: 'Josefin Sans' sans-serif;
}

/* Jumbotron Section */
.jumbotron {
    background-image: url(../img/Banner\ 2.jpg);
    background-size: cover;
    background-position: center;
    height: 250px;
}

/* .jobotron2 h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight:300;
    color: #fff;
} */

/* Large Social */

#lgSocial {
    font-family: "Josefin Sans", sans-serif; 
    font-size: 1.5em;
}

#address {
    font-family: 'Josefin Sans', sans-serif;
    color: #0d4415
}

/* Projects */
#projects > h2,h3 {
    font-family: "Pacifico", cursive;
    color: #c9c983;
    text-shadow: 3px 3px 5px #0a0a0a;
}

#projects p {
    font-family: 'Josefin Sans', sans-serif;
}

/* Blog */
#blog h2 {
    font-family: "Pacifico", cursive;
    color: #c9c983;
    text-shadow: 3px 3px 5px #0a0a0a;
}

#blog p {
    font-family: "Josefin Sans", sans-serif;
    color: #0d4415;
}

#emailForm {
    border: solid 2px;
    border-color: #0d4415;
    background-color: #9fbb9f;
    border-radius: 20px;
    padding: 30px;
}

#emailFormGroup {
    padding-bottom: 20px;
}

#emailForm p {
    font-family: "Josefin Sans", sans-serif;
    color: #0d4415;
}

#emailForm h2 {
    font-family: 'Pacifico', sans-serif;
    color: #c9c983;
    text-shadow: 3px 3px 3px #0a0a0a;
    
}
footer{
    background-color: #9fbb9f;
}

.rights {
    background-color: #fff;
}